name: Publish package on NPM

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/"

      - name: Prepare for GitHub Packages
        run: |
          echo "@side-xp:registry=https://registry.npmjs.org/" >> ~/.npmrc
          echo "//registry.npmjs.org/:authToken=${NODE_AUTH_TOKEN}" >> ~/.npmrc

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Publish package
        run: |
          npm publish --access public --name "hooksie"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}