name: Publish package on NPM

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/"

      - name: Prepare for GitHub Packages
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc

      - name: Install dependencies
        run: npm ci

      - name: Remove scope from package name
        run: |
          SCOPED_NAME=$(node -p "require('./package.json').name")
          NAME=${SCOPED_NAME#*@*/}
          echo "Unscoped package name: $NAME"
          npm pkg set name="$NAME"

      - name: Publish package
        run: |
          npm publish --access public
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}